---
import type { Props } from '@astrojs/starlight/props'

import MobileMenuFooter from '@astrojs/starlight/components/MobileMenuFooter.astro'
import SidebarSublist from '@astrojs/starlight/components/SidebarSublist.astro'

const { sidebar, lang } = Astro.props
const { pathname } = Astro.url
const paths = pathname.split('/')
const subPathA = paths[1]
const subPathB = paths[2]
let items
// for other languages need to check if 'first' was language route
if (lang != 'en') {
  items = sidebar
    .find((item) => item.label.toLocaleLowerCase() == subPathA)
    ?.entries.find((item) => item.label == subPathB)?.entries
} else {
  items = sidebar.find((item) => item.label.toLocaleLowerCase() == subPathA)?.entries
}
---

<SidebarSublist sublist={items} />
<div class="md:sl-hidden">
  <MobileMenuFooter {...Astro.props} />
</div>
