/* Dark mode colors. */
:root {
  --sl-color-bg-sidebar: #0a0f19;
  --sl-color-black: #0a0f19;
  --sl-color-bg-nav: #0a0f19;
  /* --sl-nav-height: 8rem; */
}
/* Light mode colors. */
:root[data-theme='light'] {
  --sl-color-black: #ffffff;
}
